/*body{
	background-color: lightgrey;
*/
/*	background-image: linear-gradient(to bottom, rgba(0,255,255,0.1),
	 rgba(255,0,0,0.1)),
	url(hot_butter_a.png);
     background-size: cover;
     background-repeat: no-repeat;
*/
body{
    background-image: url(hot_butter_a.png);
    /*opacity: 0.1;*/
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1
}  

/*img {
   opacity: 0.1;
   filter: alpha(opacity=30);
}*/

h1{
	text-shadow: 1px 1px 1.5px darkred; 
}

form{
	background-color: rgba(0, 0, 175, 0.1);
}
